---
layout: src/layouts/root_layout.hbs
---
<div id="mainContainer" class="container-fluid">
  <div class="row">
    <div class="col-xl-4 hidden-lg-down">
    
      <!-- header: desktop -->
      <header class="hidden-lg-down" id="header--desktop">
        {{> header_img }}
        {{> hgroup }}
        {{> social_links }}
      </header>
    
    </div>
    <div class="col-lg-12 col-xl-8">    
      
      <!-- header: tablet -->
      <header class="hidden-sm-down hidden-xl-up row" id="header--tablet">
        <div class="row">
          <div class="col-md-8 header--tablet--left-col">
            {{> hgroup }}
            {{> social_links }}
          </div>
          <div class="col-md-4 header--tablet--right-col">
            {{> header_img }}
          </div>
        </div>
      </header>
      
      <div class="row">
        <div class="card col-xs-12" id="mainContent">
          
          <!-- header: mobile -->
          <header class="hidden-md-up" id="header--mobile">
            {{> header_img }}
            {{> hgroup }}
            {{> social_links }}
          </header>

          <section class="content card-block">
            {{#isnt basename "index"}}
              <!-- Pagination -->
              {{!pager pagination modifier="pager-justified"}}

              <!-- Blog Posts -->
              <nav class="post__nav">
                <a href="./" class="nav-link">return</a>
              </nav>
              <article class="post">
                <header class="post__header">
                  <h1 class="post__title">{{ postTitle }}</h1>
                  <p class="lead">{{ postLead }}</a>
                </header>
                <div class="post__body">
                  {{#markdown}}
                    {{> body }}
                  {{/markdown}}
                </div>
                <div class="post__meta">
                  <p class="post__category">#{{ category }}</p>
                </a>
              </article>
              <nav class="post__nav">
                <a href="./" class="nav-link">return</a>
              </nav>
  
              <!-- Comments -->
            {{/isnt}}

            {{#is basename "index"}}
              {{#each pages}}
                {{#isnt basename "index"}}

                  <article class="post">
                    <header class="post__header">
                      <h1 class="post__title"><a href="{{relative dest this.dest}}">{{ data.postTitle }}</a></h1>
                    </header>
                    <div class="post__excerpt">
                      <p>{{ data.postExcerpt }}</p>
                    </div>
                    <div class="post__meta">
                      <p class="post__category">#{{ data.category }}</p>
                      <p class="post__excerpt--link"><a href="{{relative dest this.dest}}">Read More</a></p>
                    </a>
                  </article>

                {{/isnt}}
              {{/each}}
            {{/is}}
          </section>

        </div>
      </div> 
    </div>
  </div>
</div>